height-header = 60px
height-navigation = 60px
height-breadcrumb = 60px

ci-font = 'Avenir', 'Open Sans', Helvetica, Arial, sans-serif

/* colors */
color-grey-dark = #333
color-primary = #001E46
color-yellow = #FFD203
color-grey = #F2F2F2
color-lightblue = #D5E7EB
color-blue = #004694
color-green = #009688
color-red = #d84a4a
color-orange = #FF5722

/* font-size */
font-size-xxl = 24px
font-size-xl = 20px
font-size-l = 16px
font-size-m = 14px
font-size-s = 12px
